<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <style>
        body{
            background-color: lavender ;
        }
        form{
            height:350px;
            width:500px;
            background-color:#8A4B69;
        }
        input{
            background-color:#D39FB7;
            margin:3px;
            font-size:20px;
        }
        a {
            margin:2px;
            color: black;
        }
    </style>
</head>
<body>
    <center>
        <br><br>
    <form action="login" method="post">
        <br>
        <h2>LOGIN</h2>
        {% csrf_token %}
        <br>
        <input type="text" name="username" placeholder="Username"><br>
        <input type="password" name="password" placeholder="Password"><br><br>
        <input type="submit"><br><br/>
        <a href="register"> <B> New User </B> </a>
        <div>
        {% for message in messages %}
        <h3>{{message}}</h3>
        {% endfor%}
    </div>
    </form>
    </center>
</body>
</html>